/* Feedback.css */
.feed-container {
    margin-bottom: -12px;
    margin-left: -16px;
    margin-right: -16px;
    padding: 12px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-direction: column;
    width: calc(100% + 0);
    min-width: fit-content;
}

@keyframes backgroundChange {
    33% { background-color: #EFF0F0; }
    66% { background-color: white; }
}

.grey {
    animation: backgroundChange 1.5s ease 0.5s;
}

/* Styles for the paragraph */
.paragraph {
    margin: auto auto auto 16px !important;
    transition: opacity 250ms ease;
    opacity: 1;
}

/* Transition effect for the paragraph */
.transition-out {
    opacity: 0;
}